---
import "../styles/global.css";
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HumiPay</title>
  </head>
  <body>
    <slot />
    <!-- ← semua konten halaman akan masuk di sini -->
  </body>
</html>
